.main {
    min-height: 60vh;
    text-align: center;
    padding: 2em;
}

.main h2 {
    margin-bottom: 0.8em;
    color: #61adfb;
}

.input {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}